extends layout

block article
  if entry.featureImage
    article.feat-image
      .article-feat-image-container
        img(src=asset(entry.image))
      .layout
        .feat-image-article-content
          .headline-container
            h1.headline= entry.title
          if entry.author
            .author-portrait-container
              img.author-portrait(src=asset(entry.author[0].fields.portrait))
            h4.author By:
              i.author #{entry.author[0].fields.name}
          else
            h4.author By: 
              i.author Access team
          p= entry.date
          .content-container
            != markdown(entry.body)
      aside.feat-image
        include ad-skyscraper
  else
    .layout
      .headline-container
        h1.headline= entry.title
      article
        .article-image-container
          img(src=asset(entry.image))
        if entry.author
          .author-portrait-container
            img.author-portrait(src=asset(entry.author[0].fields.portrait))
          h4.author By:
            i.author #{entry.author[0].fields.name}
        else
          h4.author By: 
            i.author Access team
        p= entry.date
        .content-container
          != markdown(entry.body)
      aside
        include ad-skyscraper

  //- div!= JSON.stringify(entry.author)