extends layout

block ad-billboard
  .googlead.billboard
    img(src="http://via.placeholder.com/970x250", alt="billboard")

block ad-leaderboard
  .googlead.billboard
    img(src="http://via.placeholder.com/728x90", alt="billboard")

block excerpt
  .excerpt-container
    .copy-container
      for excerpt in contentful.excerpt
        .meta
          h2.article-name= excerpt.articleName
          h3.article-author by 
            a #{excerpt.author[0].fields.name}
        .quote-container
          h1.quote &ldquo;#{excerpt.quote}&rdquo;

block excerpt-v2
  .excerpt-container-v2
    .copy-container
      for excerpt in contentful.excerpt
        .meta
          h2.article-name= excerpt.articleName
          h3.article-author by 
            a #{excerpt.author[0].fields.name}
        .quote-container
          h1.quote &ldquo;#{excerpt.quote}&rdquo;

block latest-news
  section.latest-news
    .layout
      .section-label
        div
          h3 Latest News
        div
        div
        div
        a(href="/viewall").view view all

    .layout
      .grid-container
        - var count = 0;
        each news in contentful.posts
          if  count < 8 
            .grid-item
              .image-container
                a(href= news._url)
                  img(src=asset(news.image))
              .copy-container
                .headline-container
                  a(href= news._url)
                    h4.headline= news.title
                .author-container
                  if news.author
                    h4.author By: 
                      i.author #{news.author[0].fields.name}
                  else
                    h4.author By: 
                      i.author Access team
                  p.date= news.date
          - count++;
        .grid-item-mpu
          include ad-mpu

block features
  section.features
    .layout
      .section-label
        div
          h3 Features
        div
        div
        div
        a(href="/viewall").view view all

    .layout
      .grid-container
        for features in contentful.features
          h4.headline= features.title

block blogs
  section.blogs
    .layout
      .section-label
        div
          h3 Blogs
        div
        div
        div
        a(href="/viewall").view view all

    .layout
      .grid-container
        for blogPost in contentful.blogPost
          h4.headline= blogPost.title


     

        //- ul
        //-   - for news in contentful.posts
        //-     li
        //-       h4= news.title
        //-       //- Find out if the post has an author. This sits in an array due to the many to many relationship set up in contentful
        //-       if news.author
        //-         h4 #{news.author[0].fields.name}
        //-         img(src=asset(news.author[0].fields.portrait))
        //-         h4: a(href= news.author[0]._url)= "Bio"
        //-       else
        //-         h4 No Author specified
        //-       p= news.date 
        //-       img(src=asset(news.image))
        //-       //- != marked(news.body)
        //-       h4: a(href= news._url)= "Read More"

  //- for news in contentful.posts
  //-   div!= JSON.stringify(news)